.form-container{
width: 40%;
border-radius: 15px;
background: #c5bebe6c;
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
padding: 30px 50px;
}
.submit-btn{
    background-color: #a9b8e0;
    border: none;
    padding: 8px;
    color: rgb(20, 15, 85);
    font-weight: 700;
    border-radius: 10px;
}
.submit-btn:hover{
    background-color: rgb(46, 40, 129) ; 
    color: #B0BDE0; 
    border: none; 
}
.social-btn{
    background: none;
    border: none;
    padding: 0;
    margin-left: 3px;
}
.social-btn:hover{
    border-radius: 100px;
    background-color: #B0BDE0;
    padding: 4px;
}
@media only screen and (max-width:576px) {
    .form-container{
       width: 90%;
    }
}

@media only screen and (min-width: 577px) and (max-width: 992px) {
    .form-container{
        width: 90%;
    }
}