.card-box{
    height: 530px;
    border-radius: 20px;
    position: relative;
    background-color: #d8ddeb9c !important;
}
.card .image{
    width: 95%;
    height:320px;
    margin: 10px auto;
    border-radius: 10px;
}
.card .details-btn{
    position: absolute;
    bottom: 0;
    border: none;
    color: rgb(20, 15, 85);
    font-weight: 700;
    background-color: #B0BDE0 ;
    border-radius: 10px;
}
.card .details-btn:hover{
    background-color: rgb(46, 40, 129) ; 
    color: #B0BDE0; 
    border: none; 
}